p {
	font-family:"Open Sans";
}

h1 {
	text-transform:uppercase;
	font-family:Tangerine;
}

h2 {
	font-family:Tangerine;
}

#first {
	font-style:italic;
	font-family:Condiment;
}

a {

	font-size:10px;
}

a:hover {
	color:red;
}
